{% extends '@Inventario/templateMaster.html.twig' %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="header">
                    <form role="form">
                        <h4 class="title">Listado de Proveedores</h4>
                        <div class="box-tools">
                            <button type="button" class="btn btn-sm btn-success pull-right" onclick="location.href='{{ path('inventario_proveedores_new') }}'">Nuevo Proveedor</button>
                        </div>
                        <!-- /.box-tools -->
                    </form>
                </div>
                <div class="content table-responsive table-full-width">
                <table id="proveedores" class="table table-striped">
                    <thead>
                    <tr>
                        <th>Razón Social</th>
                        <th>Dirección</th>
                        <th>RFC</th>
                        <th>Teléfono</th>
                        <th>Mail</th>
                        <th>Contacto</th>
                        <th>Editar</th>
                        {#<th>Vista Previa</th>#}
                        <th>Eliminar</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for proveedor in proveedores %}
                        <tr>
                            <td>{{ proveedor.razonSocial }}</td>
                            <td>{{ proveedor.direccion }}</td>
                            <td>{{ proveedor.rfc }}</td>
                            <td>{{ proveedor.telefono }}</td>
                            <td>{{ proveedor.mail }}</td>
                            <td>{{ proveedor.contacto }}</td>
                            <td><button type="button" class="btn btn-info btn-xs" onclick="location.href='{{ path('inventario_proveedores_edit',{'proveedor': proveedor.id}) }}'">Editar</button></td>
                            {#<td><button type="buuton" class="btn btn-info btn-xs" onclick="location.href='#'">Vista previa</button></td>#}
                            <td><button type="button" id="eliminar" class="btn btn-info btn-xs" onclick="location.href='{{ path('inventario_proveedores_delete',{'proveedor': proveedor.id}) }}'">Eliminar</button></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    <script>
        window.onload = function(){
            var contador = 0;
            document.getElementById("eliminar").onclick = function(){
                alert(confirm("¿Desea eliminar el proveedor?"));
            }
        }
    </script>
    <script>
        $(function () {
            $("#proveedores").DataTable();
        });
    </script>
{% endblock %}